@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Advance Assurance application received") {
<h4>This is a test email only. Should you receive this email please ignore it</h4>
<p style="margin: 0 0 30px; font-size: 19px;">We received your Advance Assurance application for <a href="@{params("companyName")}" style="color: #005EA5;">@{params("companyName")}</a>
    on <a href="@{params("date")}" style="color: #005EA5;">@{params("date")}</a>.</p>
<p style="margin: 0 0 30px; font-size: 19px;">Your application reference number is <a href="@{params("formBundleRefNumber")}" style="color: #005EA5;">@{params("formBundleRefNumber")}</a>.</p>
<h2 style="margin: 0 0 30px; font-size: 24px;">What happens next</h2>
<p style="margin: 0 0 30px; font-size: 19px;">We’ll let you know the outcome of your application within 4 weeks.</p>
<p style="margin: 0 0 30px; font-size: 19px;">From HM Revenue and Customs, small companies enterprise centre</p>
}