@(params: Map[String,Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params,"Successful Receipt of Online Submission") {
    <p>Dear Submitter,</p>
    <p>Thank you for sending your Self Assessment submission online.</p>
    <p>The submission was successfully received on @params("sentDate") and is being processed.</p>
    <p>Self Assessment Online is just one of the many online services we offer that can save you time and paperwork. For the latest information on all of our Online Services please visit the HMRC website.</p>
    <p>From HMRC Self Assessment</p>
}