@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Report received") {

    <p style="margin: 0 0 30px; font-size: 19px;">Dear @params("name")</p>

    <p style="margin: 0 0 30px; font-size: 19px;">@{params.exists(_._1 == "cbcrId") match {
        case true => s"The report for country-by-country ID ${params("cbcrId")} was received on ${params("received_at")}"
        case _    => "The report for country-by-country was received on ${params(\"received_at\")}"
    }
    }

    <p style="margin: 0 0 30px; font-size: 19px;">You can use the following digital signature as a receipt for the country-by-country report you've sent:</p>

    <p style="margin: 0 0 30px; font-size: 19px;">@params("hash")</p>

    <p style="margin: 0 0 30px; font-size: 19px;"><h2>What happens next</h2></p>

    <p style="margin: 0 0 30px; font-size: 19px;">We'll check the information in the report and contact you if there are any issues.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">From HMRC Country-by-Country Reporting</p>


}
