@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Your Income Tax estimate has changed") {
<p style="margin: 0 0 30px; font-size: 19px;">Dear @{params("fullName")}</p>
<p style="margin: 0 0 30px; font-size: 19px;">We have changed your tax code and we would like you to check it is right.</p>
<p style="margin: 0 0 30px; font-size: 19px;">This is to make sure you pay the right amount of tax.</p>
<p style="margin: 0 0 30px; font-size: 19px;">Go to the 'Pay As You Earn (PAYE)' section of your Personal Tax Account.</p>
<p style="margin: 0 0 30px; font-size: 19px;">You'll find your new tax code there with information on how we've calculated it.</p>
<p style="margin: 0 0 30px; font-size: 19px;">For security reasons, we have not included a link with this email.</p>
<h2 id="why-you-got-this-email" style="margin: 0 0 30px; font-size: 24px;">Why you got this email</h2>
<p style="margin: 0 0 30px; font-size: 19px;">You chose to get email notifications about your Income Tax.</p>
<p style="margin: 0 0 30px; font-size: 19px;">This means we send you an email when your Income Tax estimate changes.</p>
<p style="margin: 0 0 30px; font-size: 19px;">From HMRC Check your Income Tax</p>
}