@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Cancelled direct debit instruction for VAT") {

<p style="margin: 0 0 30px; font-size: 19px;">Dear @params("NAME")</p>

<p style="margin: 0 0 30px; font-size: 19px;"><strong>Reference</strong> @params("DDIREFERENCE")</p>

<p style="margin: 0 0 30px; font-size: 19px;">Your bank has told us your instruction to collect payments under this direct debit reference has been cancelled.</p>

<p style="margin: 0 0 30px; font-size: 19px;">If you want to carry on paying by direct debit, you will need to set up a new instruction.</p>

<p style="margin: 0 0 30px; font-size: 19px;">From HMRC direct debit team</p>

}
