@(params: Map[String, Any])

@breakdown = @{
  val indices = Stream.from(0).takeWhile(i => params.get(s"CHARGETYPE.$i").isDefined).toList
  indices.map { i =>
    val chargeType = params(s"CHARGETYPE.$i")
    val period = params(s"PERIOD.$i")
    val amount = params(s"AMOUNT.$i")
    (chargeType, period, amount)
  }
}

@formatDate(yyyymmdd: String) = @{
  val year = yyyymmdd.slice(2,4)
  val month = yyyymmdd.slice(4,6)
  val day = yyyymmdd.slice(6,8)
  s"$day/$month/$year"
}

@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Advance notice of your direct debit payment for VAT") {

<p style="margin: 0 0 30px; font-size: 19px;">Dear @params("NAME")</p>
<p style="margin: 0 0 30px; font-size: 19px;"><strong>Reference</strong> @params("DDIREFERENCE")</p>

<p style="margin: 0 0 30px; font-size: 19px;">This notice is for information purposes only. We will collect £@params("AMOUNT") on or just after @formatDate(params("COLLECTIONDATE").toString).</p>

<p style="margin: 0 0 30px; font-size: 19px;"></p>
  <table width="100%" cellspacing="0" cellpadding="2px" style="text-align:left;font-size: 19px;">
    <thead>
      <tr>
        <th>Charge type</th>
        <th>Period</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      @for((chargeType, period, amount) <- breakdown) {
        <tr>
          <td>@chargeType</td>
          <td>@period</td>
          <td>£@amount</td>
        </tr>
      }
    </tbody>
  </table>
</p>

<p style="margin: 0 0 30px; font-size: 19px;">Make sure you have enough funds in your account to meet this payment. It will be collected under @params("NEWSUNNAME").</p>
<p style="margin: 0 0 30px; font-size: 19px;">If you have any questions, call @params("PHONENUMBER") quoting reference @params("DDIREFERENCE").</p>

<p style="margin: 0 0 30px; font-size: 19px;">From HMRC direct debit team</p>
}
