@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Direct debit instruction for VAT cannot be used") {

<p style="margin: 0 0 30px; font-size: 19px;">Dear @params("NAME")</p>

<p style="margin: 0 0 30px; font-size: 19px;"><strong>Reference</strong> @params("DDIREFERENCE")</p>

<p style="margin: 0 0 30px; font-size: 19px;">Your bank has told us that we cannot collect payments using this instruction.</p>
<p style="margin: 0 0 30px; font-size: 19px;">If you still wish to pay by direct debit, you need to set up a new instruction.</p>

<p style="margin: 0 0 30px; font-size: 19px;">From HMRC direct debit team</p>
}
