@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Alcohol Wholesaler Registration Scheme (AWRS) amendment confirmation") {
    <p @pStyle>Your amendment for @{params("organisationName")} has been received on the @{params("submissionDate")}.</p>
    <p @pStyle>What happens next</p>
    <p @pStyle>
        <ul>
            <li>Continue trading as normal while we review and check your amended application.</li>
            <li>We will review and check your application amendments (reference  @{params("applicationReference")}). HMRC will contact you to discuss your amended application.</li>
        </ul>
    </p>
    <p @pStyle>More detailed information can be found in the the guidance.</p>
    <p @pStyle>Remember to keep your Government Gateway user ID and password safe as you will need them if you need to make changes. If your circumstances change you must update your application.</p>
    <p @pStyle>Excise Notice 2002 Section 10.4 has a full list of changes and the circumstances where you need to immediately inform us.</p>
    <p @pStyle>From HMRC Alcohol Wholesaler Registration Scheme</p>
}