@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Alcohol Wholesaler Registration Scheme (AWRS) withdrawal") {
    <p @pStyle>Your request to withdraw your AWRS application for @{params("organisationName")} was received on @{params("submissionDate")}.</p>
<p @pStyle><b>What happens next</b></p>
    <p @pStyle>If you wish to submit a new application for AWRS you need to start the application process again.</p>
    <p @pStyle>From the HMRC Alcohol Wholesaler Registration Scheme.</p>
}