@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Alcohol Wholesaler Registration Scheme (AWRS) application submission confirmation") {
    <p @pStyle>Your application for @{params("organisationName")} has been received on the @{params("submissionDate")}.</p>
    <p @pStyle>Your application reference number is @{params("applicationReference")}. This is not your AWRS registration number.</p>
    <p @pStyle>What happens next</p>
    <p @pStyle>
        <ul>
            <li>Continue trading as normal while we review and check your application, which may take some time.</li>
            <li>There is no need to contact HMRC, you will be notified before 1 April 2017.</li>
            <li>If approved, your business will receive an AWRS registration number confirming that you are an approved alcohol wholesaler.</li>
        </ul>
    </p>
    <p @pStyle>More detailed information can be found in the the guidance.</p>
    <p @pStyle>Remember to keep your Government Gateway user ID and password safe as you will need them if you need to make changes. If your circumstances change you must update your application.</p>
    <p @pStyle>Excise Notice 2002 Section 10.4 has a full list of changes and the circumstances where you need to immediately inform us.</p>
    <p @pStyle>From the HMRC Alcohol Wholesaler Registration Scheme</p>
}