@(params: Map[String, Any])
@uk.gov.hmrc.email.templates.helpers.html.template_main(params, "Alcohol Wholesaler Registration Scheme (AWRS) application status update") {
    <p @pStyle>Dear @{params("name")}</p>
    <p @pStyle>We’ve updated your AWRS application status.</p>
    <p @pStyle>To view it, sign in to your HMRC online account.</p>
    <p @pStyle>For security reasons, we have not included a link with this email.</p>
    <p @pStyle>From HMRC Alcohol Wholesaler Registration Scheme</p>
}


