@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Your HMRC GMP checker calculation is ready") {
<p style="margin: 0 0 30px; font-size: 19px;">Your reference: @{params("fileUploadReference")}</p>
<p style="margin: 0 0 30px; font-size: 19px;">The GMP checker calculation you submitted on @{params("uploadDate")} is now ready.</p>
<p style="margin: 0 0 30px; font-size: 19px;">Go to the GMP checker to view it. You’ll need to sign in using the same Government Gateway details you used to submit the calculation.</p>
<p style="margin: 0 0 30px; font-size: 19px;">For security reasons, we have not included a link with this email.</p>
<p style="margin: 0 0 30px; font-size: 19px;">Your results will be deleted after 30 days.</p>
<p style="margin: 0 0 30px; font-size: 19px;">So that you know this email is genuine, the last three digits of your ID are @{params("userId")}.</p>
<p style="margin: 0 0 30px; font-size: 19px;">From HMRC GMP checker</p>
}
