@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Your Bingo Duty return has been submitted"){
<p style="margin: 0 0 30px; font-size: 19px;">
    Dear Customer,</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    We have received your application to submit your Bingo Duty return online.</p>
<h2>Why you are receiving this email</h2>
<p style="margin: 0 0 30px; font-size: 19px;">
    We send a confirmation email for returns submitted online.</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    If you need to contact us about your application, please quote your Bingo Duty registration number.</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    Thank you.</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    From the HMRC Excise team</p>
}
