@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Your claim for a VAT refund has been submitted"){
<p style="margin: 0 0 30px; font-size: 19px;">
    Dear Customer,</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    We have received your application to submit your claim for a VAT refund as an organisation unregistered for VAT.</p>
<h2>What happens next</h2>
<ul style="margin: 0 0 30px; font-size: 19px;">
    <li>We will contact you if we need further information about your claim</li>
</ul>
<h2>Why you are receiving this email</h2>
<p style="margin: 0 0 30px; font-size: 19px;">
    We send a confirmation email for claims made online.</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    If you need to contact us about your claim, please quote your unique customer reference number that you used to access the online service.</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    Thank you.</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    From the HMRC VAT 126 team</p>
}