@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, ""){
<p style="margin: 0 0 30px; font-size: 19px;">Dear Customer</p>

<h2>Using gas as a road fuel</h2>

<p style="margin: 0 0 30px; font-size: 19px;">Your return has been submitted successfully.</p>

<h2>Why you got this email</h2>

<p style="margin: 0 0 30px; font-size: 19px;">You gave this contact email address when you completed your return.</p>

<p style="margin: 0 0 30px; font-size: 19px;">From HMRC Fuel Duty</p>
}
