@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Your Hydrocarbon Oils return has been submitted"){
<p style="margin: 0 0 30px; font-size: 19px;">
    Dear Customer,</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    We have received the return.</p>
<h2>Why you are receiving this</h2>
<p style="margin: 0 0 30px; font-size: 19px;">
    This is an email to confirm the submission of the Hydrocarbon Oils return.</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    Thank you.</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    From HMRC Hydrocarbon Oils</p>
}
