@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Your Insurance Premium Tax return application has been successfully submitted"){
<p style="margin: 0 0 30px; font-size: 19px;">
    Dear Customer,</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    We have received your application to file your Insurance Premium Tax return online.</p>
<h2>What happens next</h2>
<ul style="margin: 0 0 30px; font-size: 19px;">
    <li>We will contact you or your agent if there is a problem with your return.</li>
    <li>We will review any claim made for a refund.</li>
</ul>
<h2>Why you are receiving this email</h2>
<p style="margin: 0 0 30px; font-size: 19px;">
    We send a confirmation email for returns filed online.</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    If you need to contact us about your application, please quote your IPT registration number.</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    Thank you.</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    From the HMRC Insurance Premium Tax Scheme</p>
}
