@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Your Research and Development application has been submitted"){
<p style="margin: 0 0 30px; font-size: 19px;">
    Dear Customer,</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    We have received the claim for a VAT refund.</p>
<h2>Why you are receiving this</h2>
<p style="margin: 0 0 30px; font-size: 19px;">
    This is an email to confirm the submission of the VAT126 return.</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    Thank you.</p>
<p style="margin: 0 0 30px; font-size: 19px;">
    From HMRC VAT126</p>
}