@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Your tax credits declaration for " + {params("awardStartDate")} + " to " + {params("awardEndDate")} + " has been received", true, footerMessage = None, true) {

    <p style="font-size: 16px;line-height: 1.315789474;">
        Dear @{params("customerFName")}
    </p>

    <p style="font-size: 16px;line-height: 1.315789474;">
        Your reference number is @{params("renewalReference")}
    </p>

    <h2>What you can do next</h2>

    @defining((params("incompleteClaims").toString.toInt, params("anyEstimates").toString.toInt)) { case (ic, ae) =>
        @if(ic > 0 || ae > 0){
            <p style="font-size: 16px;line-height: 1.315789474;">You must:</p>
            <ul>
                @if(ic > 0) {<li style="font-size: 16px;line-height: 1.315789474; margin: 0 0 10px 0;">complete your @ic remaining annual review@if(ic > 1){s} to finish your renewal</li>}
                @if(ae > 0) {<li style="font-size: 16px;line-height: 1.315789474; margin: 0 0 10px 0;">contact us to tell us the actual amount for the estimate@if(ae > 1){s} you gave by 31 January 2018. For contact details, search for 'tax credits general enquiries'</li>}

            </ul>
        }}

    <p style="font-size: 16px;line-height: 1.315789474;">You can:</p>
    <ul>
        <li style="font-size: 16px;line-height: 1.315789474; margin: 0 0 10px 0;">log into tax credits and check the status of your renewal</li>
        <li style="font-size: 16px;line-height: 1.315789474; margin: 0 0 10px 0;">complete this declaration again if you think you made a mistake</li>
    </ul>

    <h2>What happens next</h2>

    <p style="font-size: 16px;line-height: 1.315789474;">We will work out how much tax credits you:</p>

    <ul>
        <li style="font-size: 16px;line-height: 1.315789474; margin: 0 0 10px 0;">should have got in your award period</li>
        <li style="font-size: 16px;line-height: 1.315789474; margin: 0 0 10px 0;">will get from @{params("startDate")} to @{params("endDate")}, unless your claim has ended,
            and send you an award notice that you should get by @{params("noticeDate")}</li>
    </ul>

    <p style="font-size: 16px;line-height: 1.315789474; margin: 0 0 30px 0;">If the amount was wrong, we will pay you the right amount or ask you to pay back any extra money.</p>

    <p style="font-size: 16px;line-height: 1.315789474; margin: 0 0 30px 0;">From HMRC Tax Credits</p>
}