@(params: Map[String, Any])@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params,"Your tax credits renewal has been received", true, footerMessage = None, true) {

<p style="font-size: 24px;line-height: 1.315789474; margin: 0 0 30px 0;">
    Your online reference number is
    <span style="white-space: nowrap;">@{params("renewalReference")}</span>
</p>

<h2>You do not need to do anything else</h2>

<p style="font-size: 19px;line-height: 1.315789474; margin: 0 0 30px 0;">Do not send us your renewal pack through the post, as this will delay your renewal.</p>

<h2>What happens next</h2>

<p style="font-size: 19px;line-height: 1.315789474;">We will work out how much tax credits you:</p>

<ul>
    <li style="font-size: 19px;line-height: 1.315789474; margin: 0 0 10px 0;">should have got</li>
    <li style="font-size: 19px;line-height: 1.315789474; margin: 0 0 10px 0;">will get from @{params("startDate")} to @{params("endDate")}, unless your claim has ended</li>
</ul>

<p style="font-size: 19px;line-height: 1.315789474; margin: 0 0 30px 0;">We will send you an award notice that you should get by @{params("noticeDate")}.</p>

<p style="font-size: 19px;line-height: 1.315789474; margin: 0 0 30px 0;">From HMRC Tax Credits</p>
}
