@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "You have been invited to the Off Payroll private beta.") {

    <p style="margin: 0 0 30px; font-size: 19px;">&nbsp;</p>

    <p style="margin: 0 0 30px; font-size: 19px;"><h2>Why you got this email</h2></p>

    <p style="margin: 0 0 30px; font-size: 19px;">You gave this contact email address when you signed up for the Off Payroll private beta.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">You will soon be contacted with the link to the service, as well as your unique pincode used to login to the service.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">Please note, the service is in beta and is subject to content changes during and after the private beta.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">From HMRC Off Payroll</p>

}