@(params: Map[String, Any])

@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Sign up complete") {
    <p style="margin: 0 0 30px; font-size: 19px;">Dear Customer</p>

    <p style="margin: 0 0 30px; font-size: 19px;">You’ve signed up to use software to submit your VAT Returns.</p>

    <p style="margin: 0 0 30px; font-size: 19px;font-weight: bold;">What happens next</p>
    <ol>
        <li>Choose relevant third party software.</li>
        <li>Allow your software to submit VAT Returns to HMRC. You might need to sign in with your Government Gateway details.</li>
        <li>Use software to record your sales and purchases.</li>
        <li>Submit your VAT Returns before your deadlines.</li>
    </ol>

    <p style="margin: 0 0 30px; font-size: 19px;">From HMRC Digital</p>

}
