@(params: Map[String, Any])

@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "You can’t use this service yet") {
    <p style="margin: 0 0 30px; font-size: 19px;">Dear Customer</p>

    <p style="margin: 0 0 30px; font-size: 19px;">You can’t use software to submit your VAT Returns yet.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">As this service is currently a trial, it’s only available to some limited companies and sole traders.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">You’ll be able to sign up for this service by April 2019.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">From HMRC Digital</p>
}
