@(params: Map[String, Any])@uk.gov.hmrc.hmrcemailrenderer.templates.childcare.html.childcareMainTemplate(params, "You can apply for Tax-Free Childcare today") {

    <p style="margin: 0 0 30px; font-size: 19px;">Thank you for registering your interest in government childcare schemes.</p>
    <h1 style="margin: 0 0 30px; font-size: 36px;">You can apply for Tax-Free Childcare today</h1>

    <p style="font-size: 19px;margin: 0 0 30px 0;">You can apply for Tax-Free Childcare and 30 hours free childcare now if your youngest child will be under 4 on 31st August 2017, or if you have a disabled child under 17. You can apply for all of your children at the same time.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">To apply, go to: <a href="http://www.childcare-support.tax.service.gov.uk ">www.childcare-support.tax.service.gov.uk </a></p>
    <p style="margin: 0 0 30px; font-size: 19px;">It's simple and should take around 20 minutes. You will be asked if you have been invited to apply. Please select 'no', and enter the date of birth of your youngest child.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">If you've already applied for Tax-Free Childcare, you can log back into your account using the same link.</p>
    <h2 id="About Tax-Free Childcare" style="margin: 0 0 30px; font-size: 19px;">About Tax-Free Childcare</h2>
    <p style="margin: 0 0 30px; font-size: 19px;">Tax-Free Childcare is for working parents with children under 12 years old (or disabled children under 17).</p>
    <p style="margin: 0 0 30px; font-size: 19px;">For every £8 that you pay into your childcare account, the government will pay in £2, up to a maximum of £2,000 per child per year (or £4,000 for disabled children). You can then use this to pay for childcare.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">You can apply now and start using Tax-Free Childcare to pay for childcare straight away.</p>

    <h2 id="Maternity Leave" style="margin: 0 0 30px; font-size: 19px;">Maternity Leave</h2>
    <p style="margin: 0 0 30px; font-size: 19px;">If you're on <strong> maternity leave</strong>, you can apply for Tax-Free Childcare and 30 hours free childcare:</p>
    <p style="margin: 30px; font-size: 19px;">•   &nbsp;&nbsp;&nbsp;&nbsp;  14 days before you're due to return to work for the child you're on maternity leave for</p>
    <p style="margin: 30px; font-size: 19px;">•   &nbsp;&nbsp;&nbsp;&nbsp;  Straight away for any older children who are under the age of 12.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">You can find out more and check if you're eligible at:   <a href="http://www.childcarechoices.gov.uk ">www.childcarechoices.gov.uk </a></p>
    <p style="margin: 0 0 30px; font-size: 19px;">Yours faithfully,</p>
    <p style="margin: 0 0 30px; font-size: 19px;">Rachel Hope<br/>
        Childcare Service, HM Government</p>

    <h2 id="How to contact us" style="margin: 0 0 30px; font-size: 19px;">How to contact us</h2>
    <p style="margin: 0 0 30px; font-size: 19px;">If you have any queries or need help applying, please contact the childcare service helpline on 0300 123 4097. It is available between 8am and 8pm Monday to Friday, and 8am to 4pm on Saturday</p>

}
