@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Status Change in your Supplementary Declaration") {
    <h4>This is a test email only. Should you receive this email please ignore it</h4>
    <p style="margin: 0 0 30px; font-size: 19px;">Your Supplementary Declaration requires payment.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">The following is the payment details for your supplementary declaration:</p>
    <p style="margin: 0 0 30px; font-size: 19px;">@params("details")</p>
    <p style="margin: 0 0 30px; font-size: 19px;">From HMRC Customs</p>
}