@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params,
    "Register for customs services - application successful", showHeading1 = false) {

@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.salutation(params)

<p style="margin: 0 0 30px; font-size: 19px;">You have successfully registered for customs services.</p>

<p style="margin: 0 0 30px; font-size: 19px;">Your EORI number is now active and in your customs account. When trading you should only share this number with trusted business partners.</p>

<h2 style="margin: 0 0 30px; font-size: 24px;">Changes you must tell us about</h2>
<p style="margin: 0 0 30px; font-size: 19px;">You must let us know about any changes to VAT registration. You can do this and update other details via your customs account.</p>

<p style="margin: 0 0 30px; font-size: 19px;">From HMRC</p>
}