@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params,
    "Register for customs services - application successful", showHeading1 = false) {

<p style="margin: 0 0 30px; font-size: 19px;">@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.salutationFullName(params)</p>

<p style="margin: 0 0 30px; font-size: 19px;">@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.organisationname.html.orgName(params) now registered for Customs Declaration Service (CDS).</p>

<p style="margin: 0 0 30px; font-size: 19px;">Active from : @{params.getOrElse("completionDate", "")}</p>

<p style="margin: 0 0 30px; font-size: 19px;">Use this service to :</p>

<ul style="margin: 0 0 30px; font-size: 19px;">
    <li>manage your customs activities</li>
    <li>get reports on previous import and export data</li>
    <li>check tariffs</li>
    <li>check duty deferment statements</li>
    <li>access self-service tools, guides and checklists</li>
    <li>get news and information from HMRC</li>
</ul>

<br />
<h2 style="margin: 0 0 30px; font-size: 24px;">Help and support</h2>

<p style="margin: 0 0 30px; font-size: 19px;">Telephone: 0300 200 3700.</p>
<p style="margin: 0 0 30px; font-size: 19px;">Open 8am to 6pm, Monday to Friday (closed bank holidays).</p>

<p style="margin: 0 0 30px; font-size: 19px;">From HMRC Customs Declaration Service (CDS)</p>

}