@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Confirm your email address") {
    <p style="margin: 0 0 30px; font-size: 19px;">You're getting this email because you've signed up to use the 'Register your company' service.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">To continue, click the link below:</p>
    <p style="margin: 0 0 30px; font-size: 19px;"><a href="@{params("verificationLink")}" style="color: #005EA5;">@{params("verificationLink")}</a></p>
    <p style="margin: 0 0 30px; font-size: 19px;">From HM Revenue & Customs and Companies House</p>
}
