@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "You can now register for VAT online") {
    <p style="margin: 0 0 30px; font-size: 19px;">You must register as soon as your VAT taxable turnover:</p>
    <p style="margin: 0 0 30px; font-size: 19px;">
        <ul>
            <li>is more than £85,000 for any 12-month period</li>
            <li>is more than £85,000 for a single 30-day period</li>
        </ul>
    </p>
    <p style="margin:30px 0 30px; font-size: 19px;">You can still register voluntarily if the company's VAT taxable turnover is less than £85,000 a year.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">To access the service, use the link you received previously in the 'Register your company' welcome email.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">From HMRC</p>
}
