@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, s"We received your PAYE application for ${params("companyName")}") {

<p style="margin: 0 0 30px; font-size: 19px;">Your application reference number is: @params("referenceNumber")</p>

<h2>What happens next?</h2>
<p style="margin: 0 0 30px; font-size: 19px;">It takes up to 12 days to process your application. We'll tell you the outcome by post.</p>

<p style="margin: 0 0 30px; font-size: 19px;">If successful we'll send you:</p>

<ul style="margin: 0 0 30px; font-size: 19px;">
    <li>a letter with your PAYE and accounts office reference numbers within 5 working days of your application being approved</li>
    <li>an activation code to do PAYE online within 10 days of your application being approved</li>
</ul>

<p style="margin: 0 0 30px; font-size: 19px;">From HMRC PAYE</p>
}