@(params: Map[String,Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params,"Successful receipt of Online Agent Authorisation") {
    <p style="margin: 0 0 30px; font-size: 19px;">Thank you - the Online Agent Authorisation you sent over the internet has been safely received by HMRC and will now be processed.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">Thank you for using the Agents Internet Service for Corporation Tax.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">Please visit the HMRC website for the latest information about our Internet services.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">Online Services Helpdesk Telephone 0300 200 3600, Textphone 0300 200 3603 or email helpdesk@ir-efile.gov.uk</p>
}



    <?xml version="1.0"?><xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0"><xsl:template match="/"><Email xmlns="http://Gateway.AxE.BizTalk.EventRouter.Process.Email"><To><xsl:value-of select="/TxENotificationData/EmailAddress/text()" /></To><Subject>Successful Receipt of Online Submission for Reference <xsl:value-of select="concat(substring(//Identifiers,18,3),'/',normalize-space(substring(//Identifiers,41,10)))" /></Subject><Body> Thank you for sending your TEST Starter, Leaver or Pension notification forms online.
    The submission for reference <xsl:value-of select="concat(substring(//Identifiers,18,3),'/',normalize-space(substring(//Identifiers,41,10)))" /> was successfully received on <xsl:value-of select="concat(substring(//Timestamp,9,2),substring(//Timestamp,5,4),substring-before(//Timestamp,'-'))" />.
    This has been recognised as a TEST transmission and will not be processed. Remember you still need to send your actual forms using the live transmission in order for it to be processed.
</Body></Email></xsl:template></xsl:stylesheet>