@(params: Map[String,Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params,s"Successful submission for reference ${params("identifier")}") {
    <p style="margin: 0 0 30px; font-size: 19px;">The submission for reference @params("identifier") was successfully received on @params("receivedDate") and is being processed.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">PAYE Online for Employers is just one of the many online services we offer that can save you time and paperwork.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">For the latest information on all of our Online Services please visit the HMRC website.</p>
}