@(params: Map[String, Any])@uk.gov.hmrc.email.templates.helpers.html.template_main(params, "",true,None,false) {
    @if(params("name").toString.trim.nonEmpty){
        <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear @{params("name")}</p>
        <br/>
    }
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Thank you for registering your interest in Tax-Free Childcare</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You'll get an email when Tax-Free Childcare becomes available. You'll then be invited to apply online. There is no need to contact us.</p>
}