@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Gwnaethoch greu cyfrif Treth Enillion Cyfalaf ar eiddo yn y DU", isWelsh = true){

<p style="margin: 0 0 30px; font-size: 19px;">Annwyl @{params("name")}</p>
<p style="margin: 0 0 30px; font-size: 19px;">Eich rhif cyfrif Treth Enillion Cyfalaf ar eiddo yn y DU yw @{params("cgtReference")}.</
<p style="margin: 0 0 30px; font-size: 19px;">Bydd angen i chi rhoi’r rhif hwn i CThEM os bydd angen i chi drafod eich cyfrif.</p>
<p style="margin: 0 0 30px; font-size: 19px;">Defnyddiwch eich cyfrif i wneud y canlynol:</p>
<ul style="margin: 0 0 30px; font-size: 19px;">
  <li>rhoi gwybod am a thalu Treth Enillion Cyfalaf ar werthu neu waredu eiddo yn y DU</li>
  <li>bwrw golwg dros eich Ffurflenni Treth</li>
</ul>

<p style="margin: 0 0 30px; font-size: 19px; font-weight: bold;">Sut i fewngofnodi i’ch cyfrif
<p style="margin: 0 0 30px; font-size: 19px; font-weight: bold;">Ewch i GOV.UK a chwilio am ‘Report and pay Capital Gains Tax on UK property’. Bydd angen eich Dynodydd Defnyddiwr (ID) a’ch cyfrinair ar gyfer Porth y Llywodraeth arnoch.</p>
<p style="margin: 0 0 30px; font-size: 19px; font-weight: bold;">Peidiwch ag ymateb i’r e-bost hwn.</p>
<p style="margin: 0 0 30px; font-size: 19px; font-weight: bold;">Oddi wrth dîm Treth Enillion Cyfalaf ar eiddo yn y DU, CThEM</p>