@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "You’ve changed your email address") {
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.salutation(params)
<p style="margin: 0 0 30px; font-size: 19px;">You’ve changed your email address for electronic communications.</p>
<p style="margin: 0 0 30px; font-size: 19px;">Now you need to verify your new email address. We’ve sent you an email separately to tell you how to do this.</p>
<p style="margin: 0 0 30px; font-size: 19px;">Until you verify your new email address, your electronic communications will get sent here.</p>
<p style="margin: 0 0 30px; font-size: 19px;">From HMRC Digital</p>
}