@(params: Map[String, Any])

@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Gallwch ddechrau defnyddio grwpiau mynediad", isWelsh=true) {

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 15px 0;">Annwyl @params("agencyName")</p>

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 15px 0;">Rydych wedi galluogi grwpiau mynediad yn eich cyfrif gwasanaethau asiant ac mae manylion eich cleientiaid bellach wedi’u prosesu.</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 15px 0;">Mae unrhyw grwpiau mynediad a grëwyd gan eich sefydliad yn y gorffennol wedi’u hadfer.</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 15px 0;">I reoli’ch grwpiau mynediad, mewngofnodwch i’ch cyfrif gwasanaethau asiant a dewiswch ‘Rheoli’r cyfrif’.</p>


<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Peidiwch ag ymateb i’r e-bost hwn – mae’n neges awtomatig oddi wrth gyfrif nad yw’n cael ei fonitro.</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Oddi wrth dîm Gwasanaethau Asiant CThEM</p>

}