@(params: Map[String, Any])

@agencyName() = {@params("agencyName")}

@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Ychwanegu cleientiaid i ddefnyddio grwpiau mynediad", isWelsh=true) {

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 15px 0;">Annwyl @agencyName</p>

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 15px 0;">Rydych wedi galluogi grwpiau mynediad yn eich cyfrif gwasanaethau asiant.</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 15px 0;">Ni all ein system ddod o hyd i unrhyw gleientiaid sy’n gysylltiedig â’r cyfrif hwn. Mae angen i chi ychwanegu cleientiaid cyn y gallwch ddefnyddio grwpiau mynediad.</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 15px 0;">I ychwanegu cleientiaid, mewngofnodwch i’ch cyfrif gwasanaethau asiant. Gallwch gopïo hen awdurdodiadau drosodd neu greu cais am awdurdodiad newydd.</p>

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Peidiwch ag ymateb i’r e-bost hwn – mae’n neges awtomatig oddi wrth gyfrif nad yw’n cael ei fonitro.</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Oddi wrth dîm Gwasanaethau Asiant CThEM</p>

}