@(params: Map[String,Any])

@agencyName() = {@params("agencyName")}

@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Add clients to use access groups", isWelsh=false) {

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 15px 0;">Dear @agencyName</p>

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 15px 0;">You have turned on access groups in your agent services account.</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 15px 0;">Our system cannot find any clients linked to this account. You need to add clients before you can use access groups.</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">To add clients, sign in to your agent services account. You can copy across old authorisations or create a new authorisation request.</p>


<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Do not reply to this email – it is an automatic message from an unmonitored account.</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">From HMRC Agent Services team</p>

}