@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "New Message") {

    <p style="margin: 0 0 30px; font-size: 19px;">You have a new message from HMRC.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">To view it - sign into your online account for anti-money laundering supervision.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">A link isn't included for security reasons.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">From HMRC</p>

    <p style="margin: 0 0 30px; font-size: 19px;">&nbsp;</p>

    <p style="margin: 0 0 30px; font-size: 19px;">You got this email because you gave this contact email address when you signed up for anti-money laundering supervision.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">If you’re unsure an email is from HMRC:</p>
    <ul style="margin: 0 0 30px; font-size: 19px;">
        <li>do not reply to it or click any links</li>
        <li>forward it to phishing@@hmrc.gsi.gov.uk</li>
    </ul>
}