@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "You have a new message from HMRC.") {

    <p style="margin: 0 0 30px; font-size: 19px;">The message is about your anti-money laundering supervision (AMLS). It is only visible from inside your AMLS account.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">To read your message either:</p>

    <ul style="margin: 0 0 30px; font-size: 19px;"><li>Sign in to your AMLS account using the correct username and password.</li>
    <li>Sign in to your business tax account and then open your AMLS account (under 'Other services').</li>
    <li>Use the link to your AMLS account we sent you when you signed up.</li></ul>

    <p style="margin: 0 0 30px; font-size: 19px;">For security reasons we cannot include any links on this page.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">&nbsp;</p>

    <p style="margin: 0 0 30px; font-size: 19px;"><h2>Why you got this email</h2></p>

    <p style="margin: 0 0 30px; font-size: 19px;">You gave this contact email address when you signed up for anti-money laundering supervision.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">This means we send you an email to let you know you have a new message in your account.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">From HMRC Anti-Money Laundering Supervision</p>

}