@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "You’ve got a new message from HMRC.") {

    <p style="margin: 0 0 30px; font-size: 19px;">You have a new message from HMRC about your anti-money laundering supervision.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">To view it, sign into your HMRC online account using the link you were given when you were invited to register online for supervision.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">For security reasons, we have not included a link with this email.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">&nbsp;</p>

    <p style="margin: 0 0 30px; font-size: 19px;"><h2>Why you got this email</h2></p>

    <p style="margin: 0 0 30px; font-size: 19px;">You gave this contact email address when you signed up for anti-money laundering supervision.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">This means we send you an email to let you know you have a new message in your account.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">From HMRC Anti-Money Laundering Supervision</p>

}