@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Fulfilment House Due Diligence Scheme "){

    <p style="margin: 0 0 30px; font-size: 19px;">Dear Mr John Smith</p>

    <p style="margin: 0 0 30px; font-size: 19px;">You have a new message from HMRC about your Fulfilment House Due Diligence Scheme application.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">To view it, sign into your HMRC online account.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">For security reasons, we have not included a link with this email.</p>

    <h2>Why you got this email</h2>

    <p style="margin: 0 0 30px; font-size: 19px;">Fulfilment House Due Diligence scheme is an online service which will send updates to you digitally.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">This means that we will provide updates by secure messages to your online account.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">We will send you an email to let you know when a new message is added.</p>

    <p style="margin: 0 0 30px; font-size: 19px;">From the HMRC Fulfilment House Due Diligence Scheme</p>

}
