@(params: Map[String, Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "Fulfilment House Due Diligence Scheme application withdrawn"){
  <p style="margin: 0 0 30px; font-size: 19px;">Your application for {params.companyName} was withdrawn on {params.withdrawalDate}.</p>
  <p style="margin: 0 0 30px; font-size: 19px;">You will need to wait until tomorrow before you can submit a new application.</p>
  <p style="margin: 0 0 30px; font-size: 19px;">From the HMRC Fulfilment House Due Diligence Scheme</p>
  <p style="margin: 0 0 30px; font-size: 19px;">Do not reply to this email.</p>
}
