@(params: Map[String, Any])@uk.gov.hmrc.email.templates.helpers.html.template_main(params, "Thanks for your interest in Tax-Free Childcare or the additional free childcare hours",true,None,false) {

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Tax-Free Childcare and the additional free childcare hours are being introduced in 2017.</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">We'll email you again with information on how to apply.</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You don’t need to contact us.</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">From Childcare Calculator</p>

}
