@(params: Map[String, Any])@uk.gov.hmrc.email.templates.helpers.html.template_main(params, "") {
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear @{params("name")},</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">We've received your application to register as a sub-contractor in the construction industry.</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Your reference is @{params("submissionReference")}.</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">We'll write to you about your request and let you know if it has been accepted. If we need any further details, we'll contact you by letter or phone. We'll never ask you for your details by email.</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You’ll normally receive a response within 35 days.</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Yours sincerely,</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">HM Revenue and Customs</p>

}
