@(params: Map[String, Any])@uk.gov.hmrc.email.templates.helpers.html.template_main(params, "") {
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear @{params("name")},</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">We have received your application for State Pension top up (Class 3A).</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Your reference is @{params("submissionReference")}.</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">We’ll send a payment letter to you in the post with information on payment options for the State Pension top up scheme (Class 3A).</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">If we need any further details, we'll contact you by letter or phone. We may ask you to sign in to a service to provide more details but we won't ask for your personal details by email.</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You will normally receive a response within 10 working days.</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Yours sincerely,</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">HM Revenue and Customs</p>

}
