@(params: Map[String, Any])@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "") {
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear @{params("name")},</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">HM Revenue and Customs (HMRC) has received your Capital Gains Tax real time transaction return.</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Your submission reference is @{params("submissionReference")}.</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">We will email you or contact you by post with your Capital Gains Tax real time transaction return payment reference number if you are due any tax to pay. Please Don't make any payment unit you receive this reference number if appropriate.</p>
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">If we need any further details, we'll contact you. We may ask you to sign in a service to provide more details but we won't ask for your personal details by email.</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You’ll normally receive a response within 15 days.</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Yours sincerely,</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">HM Revenue and Customs</p>

}
