@(params: Map[String, Any])@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "") {

    @if(params("greeting").asInstanceOf[String].length>0) {
         <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear @{params("greeting")},</p>
         
    }
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">@{params("confirmation")}.</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Your reference is @{params("submissionReference")}.</p>
        @if(params.isDefinedAt("paragraphOne")) {
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">@{
        params("paragraphOne")
    }.</p>
    }
    @if(params.isDefinedAt("paragraphTwo")) {
        <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">@{
            params("paragraphTwo")
        }.</p>
    }
    @if(params.isDefinedAt("turnAroundTime")) {
        <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">If you have registered a new trust you will receive a UTR in @{params("turnAroundTime")}.</p>
    }
    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Yours sincerely,</p>

    <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">HM Revenue and Customs</p>

}
