@(params: Map[String,Any])
@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params,s"Successful Receipt of VAT submission online for Reference ${params("identifier")}") {
    <p style="margin: 0 0 30px; font-size: 19px;">Thank you for sending the VAT submission online.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">The submission was successfully received on @params("sentDate") and is being processed.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">VAT Online is just one of the many online services we offer that can save you time and paperwork.</p>
    <p style="margin: 0 0 30px; font-size: 19px;">For the latest information on all of our Online Services please visit the HMRC website.</p>
}

