@(params: Map[String, Any])@uk.gov.hmrc.hmrcemailrenderer.templates.helpers.html.template_main(params, "") {

<p style="font-size: 24px; line-height: 1.315789474; margin: 0 0 30px 0;">Marriage Allowance cancelled</p>

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Your Marriage Allowance has been removed.</p>

<p style="font-size: 22px; line-height: 1.315789474; margin: 0 0 30px 0;">What happens next</p>

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">We&rsquo;ll return the allowance to your partner.</p>

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Cancelling Marriage Allowance could result in you not paying enough tax. We&rsquo;ll let you know if you&rsquo;ve paid the right amount when we check your pay and tax information at the end of the tax year. If you&rsquo;ve underpaid, we&rsquo;ll collect the tax you owe by adjusting your tax code.</p>

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">There is no need to contact us. You can check the status of your Marriage Allowance on your personal tax account at www.gov.uk/personal-tax-account</p>

}

